.citys {
    box-sizing: border-box;
    margin: 20px auto 0;
    background-color: #fff;
    border: 1px solid #E5E5E5;
    border-radius: 4px;
    min-height: 1000px;
    padding: 20px;
}

.citys .op-area {
    padding-bottom: 30px;
    border-bottom: 1px solid #E5E5E5;
}

.citys .choose-by-province {
    display: inline-block;
}

.citys .l-attr {
    font-size: 16px;
    color: #333;
    font-weight: 500;
    vertical-align: middle;
    display: inline-block;
}

.citys .choose-wrap {
    display: inline-block;
}

.citys .province-choose, .citys .city-choose {
    padding: 10px 0 10px 10px;
    cursor: pointer;
    border-radius: 4px;
    vertical-align: middle;
    display: inline-block;
    width: 150px;
    height: 40px;
    box-sizing: border-box;
    border: 1px solid #E5E5E5;
    margin: 0 10px 0 20px;
    position: relative;
    font-size: 14px;
    color: #666;
    line-height: 18px;
}

.citys .city-choose {
    cursor: not-allowed;
}

.citys .city-choose.allow {
    cursor: pointer;
}

.citys .icon-downarrow {
    position: absolute;
    right: 10px;
    color: #666;
    font-size: 12px;
}

.citys .search {
    display: inline-block;
    vertical-align: middle;
    margin-left: 40px;
    position: relative;
}

.citys .search .search-text {
    padding-left: 10px;
    width: 220px;
    height: 40px;
    border-radius: 4px;
    border: 1px solid #E5E5E5;
    margin-left: 10px;
    font-size: 14px;
    color: #666;
    box-sizing: border-box;
}

.citys .search .search-text::placeholder {
    color: #666
}

.citys .chart {
    position: absolute;
    top: 45px;
    left: 0;
    padding: 20px 0 0 15px;
    box-sizing: border-box;
    background-color: #fff;
    border: 1px solid #E5E5E5;
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.10);
    border-radius: 4px;
}

.citys .chart::before, .citys .chart::after {
    content: "";
    position: absolute;
    top: -12px;
    left: 26px;
    border: transparent 6px solid;
    border-bottom-color: #E5E5E5;
}

.citys .chart::after {
    top: -11px;
    border-bottom-color: #fff;
}

.citys .chart h3 {
    font-size: 16px;
    color: #CCC;
    margin-bottom: 11px;
}

.citys .chart ul {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 390px;
}

.citys .chart ul li {
    cursor: pointer;
    font-size: 12px;
    color: #666;
    text-align: center;
    box-sizing: border-box;
    height: 20px;
    padding: 1px 8px;
    margin: 6px 38px 6px 0;
}

.citys .chart ul li:hover {
    border-radius: 10px;
    background: #F4F4F4;
}

.citys .chart ul li.active {
    background: linear-gradient(to bottom right, #FFD000, #FFBD00);
    border-radius: 10px;
    color: #222222;
}

.citys .w-province {
    width: 270px;
}

.citys .suggest-city-container {
    position: absolute;
    left: 90px;
    top: 46px;
    border: 1px solid #E5E5E5;
    border-radius: 4px;
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.10);
}

.citys .suggest-city-container::before, .citys .suggest-city-container::after {
    content: "";
    position: absolute;
    top: -12px;
    left: 26px;
    border: transparent 6px solid;
    border-bottom-color: #E5E5E5;
}

.citys .suggest-city-container::after {
    top: -11px;
    left: 26px;
    border-bottom-color: #fff;
}

.citys .suggest-city-container ul {
    min-width: 150px;
    max-height: 375px;
    overflow-y: scroll;
    padding: 0 20px 0 15px;
    box-sizing: border-box;
    background-color: #fff;
}

.citys .suggest-city-container li {
    cursor: pointer;
    font-size: 12px;
    color: #666;
    display: block;
    box-sizing: border-box;
    min-width: 40px;
    height: 20px;
    padding: 1px 8px;
    margin: 6px 38px 6px 0;
    white-space: nowrap;
}

.citys .suggest-city-container li:hover {
    color: #222222;
    font-weight: 500;
}

.citys .no-match-city {
    font-size: 12px;
    color: #666;
    display: block;
    box-sizing: border-box;
    min-width: 40px;
    padding: 10px 20px 10px 15px;
    background-color: #fff;
    border: 1px solid #E5E5E5;
    border-radius: 4px;
}

.citys .citylist {
    border-bottom: 1px solid #E5E5E5;
    padding: 30px 0;
}

.citys h3.l-tittle {
    font-size: 16px;
    color: #333;
    font-weight: 500;
    vertical-align: top;
    display: inline-block;
}

.citys p.r-info {
    font-size: 14px;
    vertical-align: top;
    display: inline-block;
    margin-top: 2px;
    max-width: 900px;
}

.citys p.r-info a {
    margin: 0 20px;
    color: #666;
    display: inline-block;
}

.citys p.r-info a:hover {
    color: #222222;
    font-weight: 500;
}

.citys p.r-info .letter {
    font-size: 15px;
    color: #666;
    display: inline-block;
    margin: 0 10px;
    width: 25px;
    height: 25px;
    padding-top: 2px;
    cursor: pointer;
    box-sizing: border-box;
    text-align: center;
    border-radius: 50%;
}

.citys p.r-info .letter:hover {
    font-weight: 500;
    color: #222222;
    background: #F8F8F8;
}

.citys .alphabet {
    padding: 30px 0;
}

.citys .alphabet p.r-info {
    max-width: 1000px;
}

.citys .alphabet-city-area .city-area {
    padding: 13px 30px 13px 10px;
    border-radius: 10px;
    transition: background-color 500ms;
}

.citys .alphabet-city-area .city-area:hover {
    background: #F8F8F8;
}

.citys .alphabet-city-area .city-area .city-label {
    box-sizing: border-box;
    vertical-align: top;
    padding-top: 10px;
    display: inline-block;
    text-align: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    color: #222222;
    background: #FFD000;
}

.citys .alphabet-city-area .city-area .cities {
    display: inline-block;
    max-width: 1065px;
}

.citys .alphabet-city-area .city-area .cities .city {
    margin: 10px 20px;
    color: #666;
    display: inline-block;
    font-size: 14px;
    cursor: pointer;
}
.citys .alphabet-city-area .city-area .cities .sa-city {
    color: #FF6600;
}

.citys .alphabet-city-area .city-area .cities .city:hover {
    color: #222222;
    font-weight: 500;
}