.maoyan-container {
    margin-top: 40px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.index-nav-container {
    width: 100%;
    height: 44px;
    line-height: 44px;
    box-sizing: border-box;
    font-size: 14px;
    color: #fff;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

.bg-red {
    background: linear-gradient(to right, rgb(250, 60, 104) 2%, rgb(254, 70, 77) 97%) rgb(250, 60, 104);
}

.bg-orange {
    background: linear-gradient(to right, rgb(243, 182, 74) 2%, rgb(242, 197, 69) 97%) rgb(243, 182, 74);
}

.bg-blue {
    background: linear-gradient(to right, rgb(88, 174, 221) 2%, rgb(66, 191, 205) 97%) rgb(88, 174, 221);
}

.index-nav-container .title {
    font-size: 18px;
    margin-left: 13px;
    margin-right: 10px;
}

.index-nav-container .nav-item {
    float: left;
    padding: 0 5px;
    position: relative;
    cursor: pointer;
    text-transform: uppercase;
}

.index-nav-container .nav-item.active:after {
    position: absolute;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 7px solid #fff;
    content: " ";
    display: block;
    width: 2px;
    height: 0;
    top: 37px;
    left: 0;
    right: 0;
    margin: auto;
}

.index-nav-container .total {
    float: right;
    margin-right: 12px;
}

.index-nav-container .total::after {
    display: inline-block;
    content: '';
    width: 6px;
    height: 6px;
    border: 2px solid #fff;
    border-left: transparent;
    border-bottom: transparent;
    transform: rotate(45deg);
}

.zhenguo-container {
    position: relative;
    margin: 40px auto;
}

.recommend-container {
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.slider {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}

.slider .slider-content {
    position: relative;
    height: 100%;
    transition: left 0.5s;
    transition-timing-function: ease-out;
    width: 10000000px;
    margin: 0 12px;
}

.slider .slider-content .slider-item-film {
    height: 297px;
    width: 214px;
    float: left;
    margin-right: 19px;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: 50%;
    position: relative;
}

.slider .slider-content .slider-item-film .film-img {
    border-radius: 4px;
    width: 100%;
    border: 0px;
}

.slider .slider-content .slider-item-film .film-info {
    height: 100px;
    width: 100%;
    position: absolute;
    bottom: 0;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    background-image: linear-gradient(-180deg, rgba(0, 0, 0, 0.00) 0%, rgba(29, 45, 55, 0.80) 99%);
}

.slider .slider-content .slider-item-film .film-info .film-score {
    font-size: 12px;
    color: #fff;
    text-align: left;
    margin-top: 48px;
    padding-left: 10px;
    font-weight: 500;
}

.slider .slider-content .slider-item-film .film-info .film-score span {
    font-size: 16px;
    color: #FD9827;
    font-weight: 500;
}

p {
    margin-top: 0;
    margin-bottom: 0;
}

.slider .slider-content .slider-item-film .film-info .film-name {
    text-align: left;
    color: #fff;
    padding-left: 10px;
    font-size: 16px;
    white-space: nowrap;
    width: 6em;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 500;
}

.slider .slider-content .slider-item-film .film-info .buy-ticket {
    background: #FF4949;
    border-radius: 100px;
    color: #fff;
    padding: 2px 12px 3px 12px;
    font-size: 14px;
    position: relative;
    top: -24px;
    cursor: pointer;
    line-height: 20px;
    text-align: center;
    float: right;
    right: 10px;
}

.slider .slider-content .slider-item-film .film-mark {
    position: absolute;
    top: 10px;
    z-index: 99;
    left: -6px;
    height: 20px;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.20);
    width: auto;
    border: 0px;
}