.mt-1 {
    margin-top: 10px;
}

.goods .crumb {
    margin: 10px 0;
    color: #222;
}

.goods .crumb .crumb-item {
    text-decoration: none;
    font-size: 12px;
    color: #222;
    margin-right: 13px;
    position: relative;
}

.goods .crumb a.crumb-item:after {
    content: "";
    position: absolute;
    top: 5px;
    right: -8px;
    display: inline-block;
    width: 4px;
    height: 4px;
    border-right: 1px solid #222;
    border-top: 1px solid #222;
    transform: rotate(45deg);
}

.goods .crumb .link {
    color: #222;
}

.goods .crumb .bread-h1 {
    font-weight: 400;
    display: inline-block;
}
.goods .center-content{
    position: relative;
}

.goods .center-content .left-content {
    float: left;
    width: 950px;
}

.filter-box {
    background: #FFFFFF;
    border: 1px solid #E5E5E5;
    border-radius: 4px;
    color: #333;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
}

.filter-box .filter-section-wrapper {
    padding-bottom: 15px;
}

.filter-box .filter-section-wrapper .filter-component {
    padding: 15px 20px 0;
}

.filter-box .filter-section-wrapper .filter-component>div.label {
    position: absolute;
    width: 160px;
}

.filter-box .filter-section-wrapper .filter-component>div.label>label, .filter-box .filter-section-wrapper .filter-component>div.label>.tag {
    height: 22px;
    line-height: 22px;
}

.filter-box .filter-section-wrapper .filter-component>div.label>label {
    display: block;
    width: 80px;
    float: left;
}

.tag-empty, .tag-expend {
    border: none;
}

.tag {
    padding: 0 10px;
    color: #666;
    display: inline-block;
    font-weight: normal;
}

.tag-large {
    height: 22px;
    line-height: 22px;
    font-size: 14px;
}

.tag-solid {
    border-radius: 100px;
    background: linear-gradient(to bottom right, #FFD000, #FFBD00);
    color: #222222;
}

.filter-box .filter-section-wrapper .filter-component:nth-last-child(n+2)>div.tags {
    padding-bottom: 10px;
    border-bottom: 1px solid #E5E5E5;
}

.filter-box .filter-section-wrapper .filter-component>div.tags {
    line-height: 28px;
    margin-top: -3px;
    margin-left: 160px;
}

.tag-group-expend>div {
    min-width: 120px;
}

.tag-expend:after {
    content: "";
    display: inline-block;
    margin-left: 4px;
    vertical-align: -2px;
    height: 0;
    width: 0;
    border: 4px solid transparent;
    border-top-color: #666;
}

.popover {
    position: absolute;
    left: 0;
    top: 30px;
    z-index: 1000;
    cursor: auto;
    user-select: text;
    white-space: normal;
    font-size: 12px;
    line-height: 1.5;
    font-weight: 500;
    text-align: left;
    background: #FFF;
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.10);
    border: 1px solid #E5E5E5;
    border-radius: 4px;
    max-width: 510px;
}

.popover>.arrow, .popover>.arrow:after {
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border-top-width: 0;
    border-color: transparent;
    border-style: solid;
    border-bottom-color: #E5E5E5;
}

.popover>.arrow {
    left: 26px;
    top: -10px;
    border-width: 5px;
}

.popover>.content {
    background-color: #fff;
    background-clip: padding-box;
    border-radius: 4px;
}

.filter-box .popover-content {
    padding: 19px 15px;
    padding-bottom: 9px;
}

.filter-box .popover-content .tag {
    margin-bottom: 5px;
    margin-left: -5px;
}

.filter-box .popover-content>.tag:first-child {
    color: #ccc;
    font-size: 16px;
    margin-bottom: 11px;
    cursor: default;
}

.filter-box .popover-content>.tag:first-child span {
    cursor: default;
}

.filter-box .popover-content .tag-group {
    width: 100%;
}

.tag span {
    cursor: pointer;
}

.popover>.arrow:after {
    content: "";
    margin-top: -3px;
    margin-left: -4px;
    border-width: 4px;
    border-bottom-color: #FFF;
}

.height-1 {
    height: 23px;
}

.goods .center-content .left-content>div {
    margin-top: 10px;
}

.goods .center-content .left-content .common-list {
    background: #FFFFFF;
    border: 1px solid #E5E5E5;
    border-radius: 4px;
    color: #333;
    font-size: 14px;
    line-height: 20px;
}

.goods .center-content .left-content .common-list>.sort-option {
    padding-top: 15px;
    padding-bottom: 2px;
}

.sort-option {
    padding: 11px 20px;
    height: 20px;
}

.goods .center-content .left-content .common-list>div {
    padding: 11px 20px;
}

.tag-group-sort {
    margin-left: -10px;
}

.tag-group {
    display: inline-block;
    vertical-align: top;
}

.tag-group>div {
    display: inline-block;
}

.tag-group-sort>div {
    min-width: 96px;
}

.sort-option .tag-highlight {
    font-weight: 500;
    color: #222222;
}

.tag-sort {
    position: relative;
}

.tag:before, .tag:after {
    cursor: pointer;
}

.tag-sort:before, .tag-sort:after {
    border: 3.2px solid transparent;
    content: "";
    display: block;
    height: 0;
    right: 0;
    top: 50%;
    position: absolute;
    width: 0;
}

.tag-sort:before {
    border-bottom-width: 4px;
    border-bottom-color: #ccc;
    margin-top: -8px;
}

.tag-sort:after {
    border-top-width: 4px;
    border-top-color: #ccc;
    margin-top: 1px;
}

.default-card {
    padding-top: 0;
}

.default-card .default-list-item {
    padding: 20px 0 16px;
    min-height: 125px;
    border-top: 1px solid #E5E5E5;
}

.default-card .default-list-item .list-item-pic {
    position: absolute;
    height: 125px;
    width: 220px;
}

.default-card .default-list-item .backup-color {
    background-color: #f4f4f4;
}

.default-card .default-list-item .list-item-pic img {
    width: 100%;
    height: 100%;
    border-radius: 4px;
}

.image {
    border: 0;
}

.default-card .default-list-item .list-item-desc {
    margin-left: 220px;
    padding-left: 20px;
    font-size: 12px;
    color: #666;
}

.default-card .default-list-item .list-item-pic span {
    background: #FB6433;
    border-radius: 2px;
    position: absolute;
    line-height: 13px;
    width: 20px;
    margin-left: -3px;
    margin-top: 3px;
    text-align: center;
    font-size: 12px;
    color: #fff;
}

.default-card .default-list-item .list-item-desc .list-item-desc-top {
    position: relative;
    padding-bottom: 10px;
}

.default-card .default-list-item .list-item-desc .dash-sperator-line {
    border-top: 1px dashed #E5E5E5;
    width: 100%;
}

.common-deal-container {
    width: 100%;
}

.default-card .default-list-item .list-item-desc .list-item-desc-top .item-title {
    font-weight: 500;
    font-size: 16px;
    color: #333;
    display: block;
}

.default-card .default-list-item .list-item-desc .list-item-desc-top .item-eval-info {
    margin-top: 6px;
}

.default-card .default-list-item .list-item-desc .list-item-desc-top .item-site-info {
    margin-top: 6px;
}

.default-card .default-list-item .list-item-desc .list-item-desc-top .item-bottom-info {
    line-height: 20px;
    margin-top: 6px;
}

.default-card .default-list-item .list-item-desc .list-item-desc-top .item-eval-info>* {
    margin-right: 10px;
}

.default-card .default-list-item .list-item-desc .list-item-desc-top .item-eval-info .stars-wrapper {
    margin-left: -2px;
    display: inline-block;
}

.default-card .default-list-item .list-item-desc .list-item-desc-top .item-eval-info .stars-wrapper .rate-stars {
    height: 20px;
    line-height: 20px;
}

.rate-stars {
    width: 84px;
    height: 24px;
    position: relative;
    display: inline-block;
}

.rate-stars-ul {
    list-style: none;
    padding: 0;
    text-align: left;
    margin: 3px 0;
    white-space: nowrap;
}

.rate-stars-dark {
    color: #c3c3c3;
}

.default-card .default-list-item .list-item-desc .list-item-desc-top .item-eval-info .stars-wrapper .rate-stars .rate-stars-ul {
    margin: 0;
}

.rate-stars-ul>li {
    display: inline-block;
    padding: 0px 2px;
}

.default-card .default-list-item .list-item-desc .list-item-desc-top .item-site-info .address-info {
    float: left;
    margin-right: 10px;
}

.default-card .default-list-item .list-item-desc .list-item-desc-top .item-site-info .item-site-map {
    float: left;
    font-weight: 500;
    color: #222222;
    cursor: pointer;
}

.rate-stars-light {
    color: #FF9900;
    position: absolute;
    top: 0px;
    overflow: hidden;
}

.default-card .default-list-item .list-item-desc .highlight {
    color: #FF9900;
}

.default-card .default-list-item .list-item-desc .list-item-desc-top .item-site-info .address-info {
    float: left;
    margin-right: 10px;
}

.default-card .default-list-item .list-item-desc .list-item-desc-top .item-site-info .item-site-map {
    float: left;
    font-weight: 500;
    color: #222222;
    cursor: pointer;
}

.default-card .default-list-item .list-item-desc .list-item-desc-top .item-site-info .address-info .cate-info {
    float: left;
    margin-right: 10px;
    max-width: 110px;
}

.default-card .ellipsis {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.default-card .ellipsis span.vertical-line::after {
    content: '|';
}

.default-card .default-list-item .list-item-desc .list-item-desc-top .item-site-info .address-info .address {
    float: left;
    margin-right: 10px;
    max-width: 460px;
}

.default-card .default-list-item .list-item-desc .list-item-desc-top .item-site-info .item-site-map:before {
    content: "";
    background-image: url(https://s0.meituan.net/bs/fe-web-meituan/5058856/img/icons/16pt_16pt/location_colour.png);
    background-repeat: no-repeat;
    width: 14px;
    height: 14px;
    display: inline-block;
    background-size: auto 14px;
    vertical-align: -2px;
}

.default-card .default-list-item .list-item-desc .list-item-desc-top .item-bottom-info {
    line-height: 20px;
    margin-top: 6px;
}

.default-card .default-list-item .list-item-desc .list-item-desc-top .item-bottom-info .item-price-info {
    float: left;
    color: #FF6600;
    font-size: 12px;
}

.default-card .default-list-item .list-item-desc .list-item-desc-top .item-bottom-info .item-price-info .avg-price {
    font-size: 12px;
    color: #666;
}

.common-deal-container {
    width: 100%;
}

.common-deal-container .deal-wrapper {
    margin-bottom: -10px;
    padding-top: 10px;
    width: 100%;
}

.common-deal-container .deal-wrapper .deal-content {
    display: block;
    margin-left: -10px;
    padding: 6px 10px 8px;
    cursor: pointer;
    transition: background-color 200ms;
}

.common-deal-container .deal-wrapper .deal-content:hover {
    background-color: #F8F8F8;
    border-radius: 4px;
}

.common-deal-container .deal-wrapper .deal-title {
    font-size: 14px;
    color: #666;
    height: 20px;
    line-height: 20px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.common-deal-container .deal-wrapper .deal-content:hover .deal-title {
    color: #FE8C00;
}

.common-deal-container .deal-wrapper .deal-price {
    font-size: 15px;
    color: #ff6600;
    margin-right: 10px;
}

.common-deal-container .deal-wrapper .deal-price .rmb-symbol {
    font-size: 12px;
}

.common-deal-container .deal-wrapper .deal-value {
    font-size: 12px;
    color: #999;
    margin-right: 10px;
}

.common-deal-container .deal-wrapper .deal-sales {
    font-size: 12px;
    color: #999;
}

.common-deal-container .toggle-btn {
    text-align: left;
    margin-top: 16px;
    line-height: 1;
    font-size: 0;
    color: #666;
    cursor: pointer;
}

.common-deal-container .toggle-btn:hover {
    color: #FE8C00;
    cursor: pointer;
}

.common-deal-container .toggle-btn span {
    font-size: 12px;
}

.goods .position-relative {
    position: relative;
}

.goods .toggle-btn .dropdown {
    font-size: 12px;
    display: block;
    position: absolute;
    top: 3px;
    left: 4px;
}

.mt-pagination {
    margin: 0 auto;
}

.goods .center-content .left-content>nav:last-child {
    text-align: center;
    margin-top: 40px;
}

.goods .center-content .left-content>nav:last-child ul {
    display: inline-block;
}

.mt-pagination .pagination-item {
    width: 40px;
    height: 40px;
    line-height: 40px;
    border: 1px solid #E5E5E5;
    border-radius: 50%;
    float: left;
    margin: 0 10px;
    text-align: center;
    font-size: 16px;
    color: #999;
    cursor: pointer;
    user-select: none;
    transition: background-color 500ms;
}

.mt-pagination .prev-btn a, .mt-pagination .next-btn a {
    cursor: not-allowed;
}

.mt-pagination .prev-btn.active a, .mt-pagination .next-btn.active a {
    cursor: pointer;
}

.mt-pagination .pagination-item a {
    display: block;
    color: #999;
}

.mt-pagination .active .icon-btn_left .left-arrow {
    color: #999;
    display: block;
}

.mt-pagination .ellipsis-btn {
    border: 0;
    cursor: default;
}

.mt-pagination .pagination-item.select {
    background: linear-gradient(to bottom right, #FFD000, #FFBD00);
    border: 1px solid #FFD000;
    cursor: default;
}

.mt-pagination .pagination-item.select a {
    color: #222222;
}

.goods .center-content .right-content {
    float: left;
    width: 230px;
    margin-left: 10px;
}

.recommend-box {
    margin-top: 10px;
    background-color: #fff;
    border: 1px solid #E5E5E5;
    border-radius: 4px;
    padding: 16px 20px 0;
    width: 230px;
    box-sizing: border-box;
}

.recommend-box .top-nav-box {
    margin-bottom: 12px;
}

.recommend-box .top-nav-box div {
    display: inline-block;
}

.recommend-box .top-nav-box .label {
    font-size: 16px;
    color: #333333;
    line-height: 22px;
    font-weight: 500;
}

.recommend-list .recommend-item {
    margin-bottom: 20px;
    display: inline-block;
    width: 190px;
}

.recommend-card-wrapper {
    width: 100%;
    box-sizing: border-box;
}

.recommend-card-wrapper .img-box {
    height: 0;
    width: 100%;
    padding-bottom: 56.25%;
    background-color: #f4f4f4;
    background-image: url(https://p0.meituan.net/travelcube/214b8411190e874781fe91dd3096236211567.png);
    background-size: cover;
    background-position: 50% 50%;
    border-radius: 4px;
    overflow: hidden;
}

.recommend-card-wrapper .img-box img {
    width: 100%;
    font-size: 0;
}

.image {
    border: 0;
}

.recommend-card-wrapper .info-box {
    position: relative;
    margin-top: 10px;
}

.recommend-card-wrapper .info-box .title {
    font-size: 14px;
    color: #222222;
    line-height: 20px;
    width: 100%;
    margin: 0;
    font-weight: 500;
}

.recommend-card-wrapper .info-box .score-line {
    font-size: 12px;
}

.recommend-card-wrapper .info-box .score-line div {
    display: inline-block;
}

.recommend-card-wrapper .info-box .score-line .comment-number {
    font-size: 12px;
    color: #999;
    height: 24px;
    line-height: 24px;
    margin-left: 10px;
}

.item-eval-info .stars-wrapper li {
    cursor: default;
}

.recommend-card-wrapper .info-box .desc-line .desc {
    font-size: 12px;
    color: #999999;
    width: 100%;
    height: 18px;
    line-height: 18px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-top: 4px;
}

.recommend-card-wrapper .info-box .bottom-line {
    position: relative;
}

.recommend-card-wrapper .info-box .bottom-line .price-box {
    color: #FF6600;
}

.recommend-card-wrapper .info-box .bottom-line .price-box .yuan {
    font-size: 14px;
    font-weight: 700;
}

.recommend-card-wrapper .info-box .bottom-line .price-box .price-number {
    font-family: "numbers" !important;
    font-size: 22px;
    letter-spacing: -0.5px;
}

.recommend-card-wrapper .info-box .bottom-line .price-box .price-desc {
    font-size: 12px;
    margin-left: 4px;
    font-weight: 700;
}

.back-top {
    position: fixed;
    bottom: 100px;
    right: 30px;
    font-size: 12px;
    letter-spacing: 2px;
    z-index: 2;
    display: block;
    width: 50px;
    height: auto;
    background: #FFFFFF;
    border: 1px solid #E5E5E5;
    box-shadow: 0 6px 19px 0 rgba(0, 0, 0, 0.10);
    border-radius: 4px;
}

.back-top>div:first-child {
    border-top: none;
}

.back-top>div a {
    display: block;
    font-size: 12px;
    color: #666666;
}

.up-arrow {
    display: block;
    text-align: center;
    letter-spacing: normal;
    margin: 0 auto;
    padding: 7px 0;
    margin-top: 3px;
    margin-bottom: -5px;
    font-size: 25px;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    background-image: linear-gradient(#FFD000 0%, #FFBD00 100%);
}

.back-top>div a>span {
    display: block;
    width: 24px;
    text-align: center;
    letter-spacing: normal;
    margin: 0 auto;
    padding: 7px 0;
}

.back-top>div {
    border-top: 1px solid #E5E5E5;
}

.back-top>div a {
    display: block;
    font-size: 12px;
    color: #666666;
}

.back-top>div a>span {
    display: block;
    width: 24px;
    text-align: center;
    letter-spacing: normal;
    margin: 0 auto;
    padding: 7px 0;
}
.goods .right-arrow{
    transform: rotateY(180deg);
}