.index {
    text-align: center;
}

.banner-container .left-banner {
    float: left;
}

.banner-container .right-banner {
    float: left;
    margin-left: 10px;
    margin-top: 10px;
    position: relative;
}

.category-nav-container {
    width: 230px;
    height: 475px;
    position: relative;
    text-align: left;
    box-sizing: border-box;
    float: left;
    margin-top: -50px;
    color: #646464;
    background: #FFF;
    box-sizing: border-box;
    border: 1px solid #E5E5E5;
}

.category-nav-container .category-nav-title-wrapper {
    height: 50px;
    padding-top: 15px;
    box-sizing: border-box;
}

.category-nav-container .category-nav-title {
    color: #222222;
    font-size: 16px;
    font-weight: 700;
    margin-left: 15px;
}

.category-nav-container .category-nav-content-wrapper ul {
    padding: 10px 0 8px;
    height: 425px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.category-nav-container .nav-li {
    position: relative;
    box-sizing: border-box;
    padding: 2px 12px;
    height: 26px;
}

.iconfontNew {
    font-family: "iconfontNew" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
}

.category-nav-container .nav-text-wrapper {
    display: inline-block;
    margin-left: 11px;
}

.category-nav-container .nav-li .nav-right-arrow {
    width: 4px;
    height: 4px;
    color: #BFBFBF;
    border-bottom: 1px solid #BFBFBF;
    border-right: 1px solid #BFBFBF;
    transform: rotate(-45deg);
    display: block;
    position: absolute;
    right: 13px;
    top: 0;
    bottom: 0;
    margin: auto;
}


.category-nav-container .nav-text {
    font-size: 13px;
    line-height: 20px;
    height: 20px;
    color: #646464;
    cursor: pointer;
}

.category-nav-container .nav-li:hover {
    background: rgba(255, 150, 0, 0.08);
    color: #222222;
}

.category-nav-container .nav-li:hover .nav-right-arrow {
    color: #222222;
    border-bottom: 1px solid #222222;
    border-right: 1px solid #222222;
}

.category-nav-container .nav-li:hover .nav-text {
    color: #222222;
}

.category-nav-container .nav-li:hover a {
    font-weight: 700;
}

.category-nav-container .nav-promotion {
    font-size: 12px;
    color: #222222;
    background: #FFF3CC;
    display: inline-block;
    border-radius: 10px;
    padding: 0 7px;
    margin-left: 5px;
    transform: scale(0.9);
    position: relative;
    opacity: 1;
}

.category-nav-container .nav-li:hover .nav-promotion {
    opacity: 1;
    font-weight: 400;
    background: linear-gradient(to bottom right, #FFD000, #FFBD00);
}

.category-nav-container .category-nav-detail-wrapper {
    position: absolute;
    top: 58px;
    left: 230px;
    width: 400px;
    height: 416px;
    background-color: #fff;
    z-index: 199;
    color: #666;
    overflow: hidden;
}

.category-nav-container .detail-area {
    padding: 0 30px;
}

.category-nav-container .detail-area .detail-title-wrapper {
    margin-top: 24px;
    height: 22px;
    line-height: 22px;
    padding-bottom: 10px;
    border-bottom: 1px solid #e5e5e5;
}

.category-nav-container .detail-area .detail-title-wrapper .detail-title {
    font-size: 16px;
    font-weight: 500;
    color: #222;
    cursor: pointer;
    float: left;
}

.category-nav-container .detail-area .detail-title-wrapper .detail-more {
    font-size: 12px;
    color: #999;
    font-weight: 400;
    float: right;
    margin-right: 6px;
    position: relative;
    cursor: pointer;
}

.category-nav-container .detail-area .detail-title-wrapper .detail-right-arrow {
    width: 4px;
    height: 4px;
    border-bottom: 1px solid #999;
    border-right: 1px solid #999;
    transform: rotate(-45deg);
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    right: -6px;
    margin: auto;
}

.category-nav-container .detail-area .detail-content .detail-text {
    color: #999;
    font-size: 12px;
    line-height: 15px;
    display: inline-block;
    margin-right: 16px;
    margin-top: 10px;
    cursor: pointer;
}

.category-nav-container .detail-area .detail-content .detail-text:hover {
    color: #FE8C00;
}

.banner-container .right-banner .home-header-links {
    position: absolute;
    top: -45px;
    left: 20px;
}

.banner-container .right-banner .home-header-links a {
    color: #222;
    font-weight: 700;
    font-size: 16px;
    margin: 0 20px;
    cursor: pointer;
    position: relative;
}

.banner-container .right-banner .home-header-links .waimai-link:hover {
    color: #fbc700;
}

.banner-container .right-banner .home-header-links .maoyan-link:hover {
    color: #ed1e24;
}

.banner-container .right-banner .home-header-links .hotel-link:hover {
    color: #f04d4e;
}

.banner-container .right-banner .home-header-links .homestay-link:hover {
    color: #FDC411;
}

.banner-container .right-banner .home-header-links .merchant-link:hover {
    color: #FE8C00;
}

.banner-container .right-banner .home-header-links .gongyi-link:hover {
    color: #f04d4e;
}

.banner-container .banner-row .banner-slider {
    width: 550px;
    height: 240px;
}

.banner-container .banner-row .banner-slider img {
    width: 550px;
    height: 240px;
}

.banner-container .banner-row .item {
    float: left;
}

.shadow {
    transition: box-shadow 0.5s;
}

.banner-container .banner-row .pic-1 {
    width: 150px;
    height: 240px;
    margin-left: 10px;
    margin-right: 10px;
    background-size: 150px;
    background-position: 50%;
    background-repeat: no-repeat;
    background-color: #fff;
}

.login-container {
    width: 228px;
    height: 238px;
    background-color: #fff;
    border: 1px solid #e5e5e5;
}

.login-container .default {
    padding-top: 30px;
    position: relative;
}

.login-container .head-img-row {
    border-radius: 30px;
    margin: 0px auto 4px auto;
}

.login-container .head-img-row img {
    width: 47px;
    height: 47px;
    border-radius: 50%;
    border: 4px solid #E5E5E5;
}

.login-container .user-name {
    font-size: 16px;
    color: #222;
    text-align: center;
    font-weight: 500;
    white-space: nowrap;
    width: 6em;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0 auto;
}

.login-container .btn-login {
    width: 118px;
    text-align: center;
    margin: 10px auto 15px auto;
    background: #fff;
    border: 1px solid #e5e5e5;
    border-radius: 40px;
    font-size: 14px;
    color: #333;
    transition: background-color 0.5s;
    display: block;
    line-height: 38px;
}

.banner-container .banner-row .pic-2, .banner-container .banner-row .pic-3 {
    width: 270px;
    height: 165px;
    background-size: 270px;
    background-position: 50%;
    background-repeat: no-repeat;
    margin-top: 10px;
    margin-right: 10px;
    cursor: pointer;
}

.banner-container .banner-row .pic-4 {
    width: 150px;
    height: 165px;
    margin-top: 10px;
    margin-right: 10px;
    background-size: 150px;
    background-position: 50%;
    background-repeat: no-repeat;
    background-color: #fff;
    cursor: pointer;
}

.banner-container .banner-row .download-app {
    width: 228px;
    height: 165px;
    margin-top: 10px;
    background-color: #fff;
    border: 1px solid #e5e5e5;
}

.banner-container .banner-row .download-app .qrcode-box {
    margin: 10px auto 0 auto;
}

.qrcode-box img {
    width: 95px;
    height: 95px;
}

.banner-container .banner-row .download-app .app-name {
    font-size: 16px;
    color: #222222;
    font-weight: 500;
}

.banner-container .banner-row .download-app .sl {
    font-size: 12px;
    font-weight: 500;
    margin-top: 2px;
}

.banner-container .banner-row .download-app .red {
    color: #EC5330;
    margin-right: 5px;
}

.banner-container .banner-row .download-app .gary {
    color: #3f3f3f;
}

.slider-pagination {
    position: absolute;
    z-index: 99;
    bottom: 10px;
    left: 50%;
    margin-left: -45px;
}

.slider-pagination .pagination {
    float: left;
    width: 10px;
    height: 2px;
    margin-right: 10px;
    transition: opacity 0.5s;
    background: rgb(255, 255, 255);
    opacity: 0.2;
    cursor: pointer;
}

.slider-pagination .pagination.active {
    opacity: .9;
}

.position-relative {
    position: relative;
}

.btn {
    width: 40px;
    height: 40px;
    background: #333;
    position: absolute;
    z-index: 99;
    top: 43%;
    border-radius: 40px;
    opacity: 0;
    transition: opacity 0.5s;
    transform: scale(0.95);
    cursor: pointer;
}

.banner-container .banner-row .banner-slider:hover .btn {
    opacity: 1;
}

.btn-next {
    right: 10px;
}

.btn-pre {
    left: 10px;
}

.btn .iconfont {
    color: #fff;
    text-align: center;
    font-size: 20px;
    line-height: 40px;
}

.login-container .btn-login:hover {
    background-color: #f6f6f6;
    transition: background-color 0.5s;
}

.login-container .setting {
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
}

.login-container .setting .icon {
    float: left;
    margin-right: 5px;
}

.login-container .setting .icon i {
    font-size: 24px;
    color: #666;
}

.login-container .head-img-row {
    border-radius: 30px;
    margin: 0px auto 4px auto;
    cursor: pointer;
}

.login-container .head-img-row img {
    width: 47px;
    height: 47px;
    border-radius: 50%;
    border: 4px solid #E5E5E5;
}

.login-container .nickname-row {
    position: relative;
    height: 30px;
    cursor: pointer;
}

.login-container .user-name {
    font-size: 16px;
    color: #222;
    text-align: center;
    font-weight: 500;
    white-space: nowrap;
    width: 6em;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0 auto;
}

.login-container .iconfont_level {
    font-size: 14px;
    position: relative;
    top: -20px;
    left: 55px;
    color: #FFC300;
}

.login-container .fn-row {
    padding: 0 15px;
}

.login-container .fn-row .fn-item {
    width: 33.3%;
    float: left;
}

.login-container .fn-row .fn-item .ico .iconfont {
    color: #FFC300;
    font-size: 24px;
}

.login-container .fn-row .fn-item .fn-name {
    font-size: 12px;
    color: #222;
    margin: 5px 0;
}

.slider .btn {
    width: 40px;
    height: 40px;
    background: #333;
    position: absolute;
    z-index: 99;
    top: 43%;
    border-radius: 40px;
    opacity: 0;
    transition: opacity 0.5s;
    transform: scale(0.95);
}

.slider .btn .iconfont {
    color: #fff;
    text-align: center;
    font-size: 20px;
    line-height: 40px;
}

.slider:hover>.btn {
    opacity: 0.8;
    transition: opacity 0.5s;
}

.recommend-container .recommend-list {
    background-color: #fff;
    border: 1px solid #E5E5E5;
    border-top: 0;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    max-height: 758px;
    padding: 10px 10px 20px;
    width: 100%;
    box-sizing: border-box;
    overflow-y: hidden;
    text-align: left;
}

.recommend-container .recommend-list>a {
    margin-bottom: 0
}

.recommend-container .recommend-list .recommend-item {
    display: inline-block;
    width: 20%;
    box-sizing: border-box;
    vertical-align: middle;
}

.recommend-container .recommend-list .recommend-item .card-container {
    padding: 10px;
}

.recommend-container .recommend-list .recommend-item .card-container:hover {
    background: #F4F4F4;
    -webkit-transition: background-color 500ms;
    -ms-transition: background-color 500ms;
    transition: background-color 500ms;
    border-radius: 4px;
}

.minsu-ls-view {
    padding: 20px;
    padding-right: 0;
    padding-bottom: 0;
    border: 1px solid #E5E5E5;
    border-top: 0px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    background: #fff;
}

.minsu-ls-view .products {
    display: flex;
    flex-wrap: wrap;
}

.minsu-ls-view .minsu-item {
    float: left;
    margin-right: 18px;
}

.minsu-ls-view .minsu-item .product-card-header {
    position: relative;
}

.minsu-ls-view .minsu-item .product-card-header .product-img {
    width: 370px;
    height: 208px;
    border-radius: 4px;
    background: url(https://p0.meituan.net/travelcube/214b8411190e874781fe91dd3096236211567.png);
    background-size: cover;
    background-position: 50%;
    max-width: 100%;
    height: 208px;
    margin-bottom: 11px;
    cursor: pointer;
}

.minsu-ls-view .minsu-item .product-card-header .head-img {
    border: 2px solid #FFFFFF;
    height: 48px;
    width: 48px;
    position: absolute;
    bottom: -12px;
    right: 15px;
    z-index: 9;
    border-radius: 40px;
    background-image: url(https://p0.meituan.net/mmc/35ad1f9….png);
    background-size: 100%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

.minsu-ls-view .minsu-item .product-info {
    text-align: left;
    padding-bottom: 25px;
}

.minsu-ls-view .minsu-item .product-info .product-title {
    font-size: 16px;
    color: #222222;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin: 7px 0;
    font-weight: 400;
    width: 297px;
}

.minsu-ls-view .minsu-item .product-info .sub-title {
    font-size: 12px;
    color: #999999;
    text-align: left;
    line-height: 16px;
    height: 16px;
}

.minsu-ls-view .minsu-item .product-info .sub-title .residence::after {
    content: "·";
}

.minsu-ls-view .minsu-item .product-info .sub-title .person::after {
    content: ' | '
}

.minsu-ls-view .minsu-item .product-info .price {
    font-weight: 500;
    font-size: 22px;
    color: #FF6600;
    letter-spacing: -0.8px;
    padding: 4px 0;
    line-height: 35px;
    height: 35px;
}

.minsu-ls-view .minsu-item .product-info .price .price-icon {
    font-size: 14px;
}

.meishi::before {
    font-family: 'iconfont'!important;
    content: '\e61c';
    color: #FF8200;
    vertical-align: middle;
    line-height: 18px;
    width: 16px;
    height: 16px;
    font-size: 16px;
    display: inline-block;
}

.waimei::before {
    font-family: 'iconfont'!important;
    content: '\e8c9';
    color: #FFB500;
    vertical-align: middle;
    line-height: 18px;
    width: 16px;
    height: 16px;
    font-size: 16px;
    display: inline-block;
}
.jiudian::before {
    font-family: 'iconfont'!important;
    content: '\e6bc';
    color: #9B5E3E;
    vertical-align: middle;
    line-height: 18px;
    width: 16px;
    height: 16px;
    font-size: 16px;
    display: inline-block;
}
.minsu::before {
    font-family: 'iconfont'!important;
    content: '\e644';
    color: #FFB500;
    vertical-align: middle;
    line-height: 18px;
    width: 16px;
    height: 16px;
    font-size: 16px;
    display: inline-block;
}
.dianying::before {
    font-family: 'iconfont'!important;
    content: '\ee1a';
    color: #FF3D00;
    vertical-align: middle;
    line-height: 18px;
    width: 16px;
    height: 16px;
    font-size: 16px;
    display: inline-block;
}

.jipiao::before {
    font-family: 'iconfont'!important;
    content: '\e675';
    color: #03A9F4;
    vertical-align: middle;
    line-height: 18px;
    width: 16px;
    height: 16px;
    font-size: 16px;
    display: inline-block;
}

.ktv::before {
    font-family: 'iconfont'!important;
    content: '\e6a8';
    color: #00BF96;
    vertical-align: middle;
    line-height: 18px;
    width: 16px;
    height: 16px;
    font-size: 16px;
    display: inline-block;
}
.fuwu::before {
    font-family: 'iconfont'!important;
    content: '\e654';
    color: #00BF96;
    vertical-align: middle;
    line-height: 18px;
    width: 16px;
    height: 16px;
    font-size: 16px;
    display: inline-block;
}
.meirong::before {
    font-family: 'iconfont'!important;
    content: '\e997';
    color: #FF4081;
    vertical-align: middle;
    line-height: 18px;
    width: 16px;
    height: 16px;
    font-size: 16px;
    display: inline-block;
}
.jiehun::before {
    font-family: 'iconfont'!important;
    content: '\e600';
    color: #FF4081;
    vertical-align: middle;
    line-height: 18px;
    width: 16px;
    height: 16px;
    font-size: 16px;
    display: inline-block;
}
.qinzi::before {
    font-family: 'iconfont'!important;
    content: '\e619';
    color: #FF4081;
    vertical-align: middle;
    line-height: 18px;
    width: 16px;
    height: 16px;
    font-size: 16px;
    display: inline-block;
}
.yundong::before {
    font-family: 'iconfont'!important;
    content: '\e87f';
    color: #03A9F4;
    vertical-align: middle;
    line-height: 18px;
    width: 16px;
    height: 16px;
    font-size: 16px;
    display: inline-block;
}
.jiazhuang::before {
    font-family: 'iconfont'!important;
    content: '\e676';
    color: #00BF96;
    vertical-align: middle;
    line-height: 18px;
    width: 16px;
    height: 16px;
    font-size: 16px;
    display: inline-block;
}
.peixun::before {
    font-family: 'iconfont'!important;
    content: '\e60b';
    color: #00BF96;
    vertical-align: middle;
    line-height: 18px;
    width: 16px;
    height: 16px;
    font-size: 16px;
    display: inline-block;
}

.jiankang::before {
    font-family: 'iconfont'!important;
    content: '\ec6e';
    color: #03A9F4;
    vertical-align: middle;
    line-height: 18px;
    width: 16px;
    height: 16px;
    font-size: 16px;
    display: inline-block;
}

.jiuba::before {
    font-family: 'iconfont'!important;
    content: '\e621';
    color: #03A9F4;
    vertical-align: middle;
    line-height: 18px;
    width: 16px;
    height: 16px;
    font-size: 16px;
    display: inline-block;
}