.login-module {
    float: left;
    padding-top: 0;
    margin: 0 auto;
    width: 270px;
}

.login-module .validate-info {
    padding: 10px;
    border: 1px solid #f5d8a7;
    border-radius: 2px;
    background: #fff6db;
    font-size: 12px;
    min-height: 18px;
    margin: 0 auto 10px;
    visibility: hidden;
}

.login-module .validate-info.visible {
    visibility: visible;
}

.login-module .tip {
    display: inline-block;
    width: 17px;
    height: 17px;
    margin-right: 5px;
    overflow: hidden;
    vertical-align: -3px;
    background-position: 0 -296px;
    background-image: url(//s0.meituan.net/bs/file/?f=fe-sso-fs:build/assets/icons.c1b3784.png);
    background-repeat: no-repeat;
}

.login-module .login-type {
    font: 400 14px/1.5 'Hiragino Sans GB', 'WenQuanYi Micro Hei', tahoma, sans-serif;
    font-weight: 400;
    color: #666;
}

.login-module .input-wrapper {
    border: 1px solid #999;
}

.login-module .input-wrapper.focus {
    border-color: #ffc300;
}

.login-module input {
    width: 230px;
    padding-left: 33px;
    height: 24px;
    padding: 5px;
    line-height: 24px;
    vertical-align: top;
    outline: none;
    border: none;
}

.login-module .count-input {
    margin: 8px 0 16px;
}

.login-module .pw-input {
    margin-bottom: 8px;
}

.input-wrapper .input-icon {
    display: inline-block;
    width: 18px;
    height: 34px;
    line-height: 34px;
    font-size: 20px;
}

.wjmm {
    font-size: 12px;
    padding-bottom: 8px;
}

.wjmm-txt {
    float: right;
    color: #FE8C00;
    text-decoration: none;
}

.login-btn {
    width: 100%;
    height: 34px;
    box-sizing: border-box;
    margin: 8px 0;
    background-image: linear-gradient(135deg, #FFD000 0, #FFBD00 100%);
    border: none;
    outline: none;
    color: #222;
    box-shadow: 0 2px 1px rgba(191, 105, 0, .15);
    font-size: 14px;
    font-weight: 700;
    line-height: 1.5;
    letter-spacing: .1em;
    border-radius: 2px;
    cursor: pointer;
}

.input-wrapper .signup-guide {
    color: #666;
}

.oauth-wrapper {
    margin-top: 20px;
    position: relative;
    border-top: 1px solid #CCC;
}

.oauth-wrapper h3 {
    position: absolute;
    top: -10px;
    left: 50%;
    margin-left: -75px;
    width: 150px;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    color: #666;
    background: #FFF;
}

.oauth {
    padding: 30px 0 0 88px;
}

.oauth span {
    float: left;
    margin-right: 20px;
    width: 18px;
    height: 18px;
    background-image: url(//s0.meituan.net/bs/file/?f=fe-sso-fs:build/assets/sp-normal.2ee5c09.png);
    cursor: pointer;
}

.oauth__link--qq {
    background-position: -1250px -491px;
}

.oauth__link--weibo {
    background-position: -1250px -599px;
}