.register {
    font: 400 14px/1.5 'Hiragino Sans GB', 'WenQuanYi Micro Hei', tahoma, sans-serif;
    color: #666;
    background-color: #fff;
}

.register header {
    border-bottom: 2px solid #D8D8D8;
    min-width: 980px;
    color: #666;
}

.register .wrapper {
    margin: 0 auto;
    padding: 10px 0;
    width: 980px;
}

.register .site-logo {
    width: 128px;
    background: url(https://s0.meituan.net/bs/file/?f=fe-sso-fs:build/assets/logo.6a89007.png) no-repeat;
    background-size: contain;
    text-indent: -1000px;
    overflow: hidden;
    height: 36px;
    float: left;
}

.register .login-block {
    float: right;
    line-height: 36px;
}

.register .tip {
    margin-right: 10px;
    vertical-align: sub;
}

.register .register-login-btn {
    padding: 5px 10px;
    font-size: 12px;
    border-color: rgba(191, 105, 0, .15);
    color: #222;
    background-image: linear-gradient(135deg, #FFD000 0, #FFBD00 100%);
    box-shadow: 0 2px 1px rgba(191, 105, 0, .15);
    background-size: 100%;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: .1em;
    text-align: center;
}

.register footer {
    border-top: 1px solid #EEE;
    padding-top: 20px;
    text-align: center;
}

.register .copyright {
    font-size: 12px;
    font-family: initial;
    color: #999
}

.register .f1 {
    font-size: 13px;
}