.topbar {
    font-size: 12px;
    color: #999;
    height: 40px;
}

.topbar a:hover {
    color: #FE8C00;
}

.change-city {
    line-height: 40px;
}

.change-city div {
    float: left;
    margin-right: 5px;
}

.change-city .nearbycitys {
    margin-right: 15px;
}

.nearbycitys a {
    margin: 0 4px;
}

.city, .change-city-btn {
    color: #666;
}

.change-city-btn {
    background: #F4F4F4;
    border: 1px solid #E5E5E5;
    border-radius: 2px;
    margin: 0 4px;
    padding: 0 2px;
}

.login a, .count a {
    margin-left: 10px;
}

.top-nav>ul>li {
    float: left;
    position: relative;
    height: 40px;
    padding: 12px 14px;
    box-sizing: border-box;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
}

.has-child ul {
    position: absolute;
    border: 1px solid #E5E5E5;
    background: #fff;
    text-align: center;
    z-index: 1000;
    right: -1px;
    top: 96%;
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    box-sizing: content-box;
    display: none;
}

.w-100 {
    width: 100%
}

.has-child ul a {
    line-height: 35px;
}

.has-child:hover {
    background-color: #fff;
    border-color: #E5E5E5;
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);
}

.has-child:hover::after {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background: #fff;
    position: absolute;
    top: 96%;
    left: 0;
    z-index: 1001;
}

.has-child:hover ul {
    display: block;
}

.merchant {
    width: 140%;
    border-top-left-radius: 4px;
}

.web-nav {
    width: 1200px;
    box-sizing: border-box;
    border-top-left-radius: 4px;
    padding: 30px 36px 36px 47px;
}

.web-nav li {
    float: left;
    margin-right: 47px;
}

.web-nav nav a {
    float: left;
    display: block;
}

.jiulv {
    width: 234px;
}

.jiulv a {
    width: 33%;
}

.meishi {
    width: 156px;
}

.meishi a {
    width: 50%;
}

.movie {
    width: 90px;
}

.movie a {
    width: 100%;
}

.web-nav .app {
    float: right;
}

.web-nav h3 {
    margin-bottom: 26px;
    font-size: 14px;
    color: #222222;
    font-weight: 500;
}

.app a {
    margin: 5px 8px;
}

.app a img {
    width: 60px;
    height: 60px;
}
.dingwei{
    font-size: 15px;
    color: #999;
}